@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide the default calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    width:100%;
    opacity: 0;
    cursor: pointer;
  }
  
  